numpy
pandas
matplotlib
Pillow
colorama
scikit-learn
tensorflow
iterative-stratification
google-cloud-storage
setuptools
keras
seaborn
fsspec
gcsfs
# API
fastapi
uvicorn
streamlit
requests
IPython
joblib
python-multipart
ultralytics
opencv-python
torch
torchvision
